// -----------------------------------------------------------------------------
//* This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//* Fonts

//* Colors
:root {
  --primary: #070707;
  --primary-light: #f0f0f0;
  --glass-black: rgba(0, 0, 0, 0.7);
  --wheat: #eeeeee;
  --gray: #777777;
  --rock-gray: #363636;
  --link: #fec4b6;
  --selection: #268ea4;
}

//* Breakpoints
